<div class="add_item_container">
	<h1>Add Item To Your Collection</h1>	
	<div id="add_item_form" >
		<div class="control-group">
	    <div class="controls">
	      <input type="text" id="itm_name" name="itm_name" placeholder="Item Name">
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <div class="controls">
	      <textarea id="itm_desc" name="itm_desc" placeholder="Item Description"></textarea>
	    </div>
	  </div>
	    
	  <div class="control-group">
	    <div class="controls">
	    	<button id="save_item" class="btn">Save Item</button>
	    </div>
	  </div>

	   <div class="control-group">
	    <div class="controls">
	    	<button id="btn_cancel_add_item" class="btn">Cancel</button>
	    </div>
	  </div>
	</div>
</div>