<aside id="sidebar">
	<div class="widget">
		<h2>Log In/Register</h2>
		<div class="inner">
			<form id="login_form"> 
				<label for="username">Username</label>
					<input type="text" id="user_username" name="user_username" class="required" placeholder="Username">
				<label for="password">Password</label>
					<input type="password" id="user_password" name="user_password" class="required" placeholder="Password">
					
				<input type="submit" id="btn_login" class="btn" value="Login" /><br />
				<span>Forgot your <a href="#">Username</a> or <a href="#">Password</a>?</span>		
			</form>		
		</div>
	</div>
</aside>