<div class="main">
	<div class="landing_page_header">
		<h1>Welcome To Tutelage</h1>
	</div>
	<!-- <ul class="nav nav-tabs" id="tabBar">
		<li><a data-target="#homeTab" data-toggle="tab">Home</a></li>
		<li><a data-target="#profileTab" data-toggle="tab">Stuff2</a></li>
		<li><a data-target="#stuffTab" data-toggle="tab">Stuff3</a></li>
		<li><a data-target="#thingsTab" data-toggle="tab">Stuff4</a></li>
	</ul> -->

	<!-- <div class="tab-content">
		<div id="homeTab" class="tab-pane"><h1>Welcome to DevCom!</h1></div>
		<div id="profileTab" class="tab-pane"><h1>Hi there Sec Tab!</h1></div>
		<div id="stuffTab" class="tab-pane fade"><h1>Hi there Third Tab!</h1></div>
		<div id="thingsTab" class="tab-pane"><h1>Hi there 4th Tab!</h1></div>
	</div> -->

	<!-- <a href="#" class="lightbox">Open Lightbox</a>
    		
		<div class="backdrop"> </div>
		<div class="box">
			Title 
			<div class="close">x</div><hr />
			This is the lightbox
		 </div> -->
	
</div>